* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    /* sirve para el diseño de páginas web responsivas. facilita el diseño y la alineación de elementos en el diseño de la página.*/
}

body {
    cursor: url('./pata.png'), auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Menu Hamburguesa */


.navbar {
    background-color: #ABEBC6;
    color: black;
    height: 55px;
    padding: 10px 12px;
    position: relative;
    /* cuando tengo una posicion relativa todos los demas elementos que esten en posicion absoluta toman posicion respecto del relative */

}

.logo {
    width: 100px;
    height: 100px;
    margin-top: 0;
    padding: 5px;
}

.logo1 {
    width: auto;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
    margin: 18px;
    position: absolute;
    display: inline-flexbox;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.i {
    width: 40px;
    height: 40px;
}


.checkbox,
.icons {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;


}

.icons {
    pointer-events: none;
    /* no se podra hacer click sobre ellos */
    font-size: 24px;
    /* para cambiar el tamaño de los iconos como si fuesen texto */


}

.checkbox {
    opacity: 0;
    /* hace que el checkbox no se vea pero siga extando disponible de forma oculta */
}

.bi-x {
    display: none;
    /* hace que la X=icono cerrar originalmente aparezca oculta */
}

/* .checkbox:checked hace la logica. si el checkbox esta cliqueado entonces el menu no se muestra  */
.checkbox:checked~.bi-house-heart {
    display: none;
}

/* .checkbox:checked hace la logica. si el checkbox esta cliqueado entonces se muestra el cerrar y se oculta el menu */
.checkbox:checked~.bi-x {
    display: block;
}

.menu {
    width: 200px;
    position: absolute;
    top: -250px;
    z-index: -1;
    /* sirve como capa, si el valor es negativo me lleva a la capa de atras, solo funciona para elementos que han modificado su position en absolute */
    right: 0;
    transition: 250ms;
}

.menu li {
    list-style: none;
    /* sirve para quitarle los puntitos a la lista */
}

.menu li a {
    text-decoration: none;
    /* quita el subrayado del enlace */
    color: inherit;
    /* quita el color de "enlace" para darle estilo, inherit es para heredar un color predeterminado antes */
    background-color: #ABEBC6;
    display: block;
    /* ocupar todo el espacio con el color */
    padding: 10px 12px;
}

.boton {
    border: none;
    border-radius: 5px;
    width: 100px;
    background-color: rgb(194, 240, 225);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.boton:hover {
    background-color: #82E0AA;
}

.menu li a:hover {
    background-color: #82E0AA;
}

.checkbox:checked~.menu {
    top: 48px;
    z-index: 500;   /* hace que al desplegarse se ponga sobre el contenido */
}

@media (min-width: 750px) {

    .checkbox,
    .bi-house-heart,
    .bi-x {
        display: none;
    }



    .menu {
        top: 0;
        z-index: 1;
        width: unset;
        display: flex;
        height: 48px;

    }

    .menu li a {
        height: 48px;
        padding: 14px 12px 6px;
    }
}


/* fin navbar */

/* jumbotron */

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ABEBC6;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.jumboText {
    text-align: center;
    margin-bottom: 20px;
    margin: 15px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
}

.imgJum {
    max-width: 100%;
    height: auto;

}

.boton2 {
    border: none;
    border-radius: 5px;
    width: 100px;
    background-color: rgb(194, 240, 225);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.boton2:hover {
    background-color: #82E0AA;
}



/* Media Queries para hacerlo responsivo */
@media screen and (min-width: 768px) {
    .contenedor {
        flex-direction: row;
        justify-content: space-between;
    }

    .jumboText {
        width: 50%;
    }

    .imgJum {
        width: 50%;
    }
}